* {
    box-sizing: border-box;
  }
article {
  display: grid;
  grid-template-columns: 1fr 740px 1fr;
}
article > * {
  grid-column: 2;
}
.intro-blog {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.title {
  font-size: 40px;
}
.userName {
    font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-left: 10px;
}
.date {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 10px;
  flex-grow: 1;
  color: #776c6c;
}
.avatar {
    cursor: pointer;
  margin-right: 10px;
}
.para p{
  line-height: 24px;
  margin-top: 10px;
}
.MuiBadge-colorPrimary{
    background-color: #868686 !important;
}