.disFlex {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.backPic {
  height: 580px;
  background-image: url("https://images.unsplash.com/photo-1593720213428-28a5b9e94613?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=2400");
  text-align: center;
}
.picHead {
  font-size: 50px;
  color: white;
  padding-top: 250px;
}
.topicImg img {
  height: 250px;
  width: 328px;
  margin: 10px;
}
.box {
  height: auto;
  width: 350px;
  margin-bottom: 20px;
}
.para {
  height: 32px;
  overflow: hidden;
  margin-left: 10px;
  font-size: 12px;
  margin-bottom: 3px;
}
.userdet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5px;
}
.userName {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;

  margin-top: 10px;
  margin-left: 10px;
}
.date {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 10px;
  flex-grow: 1;
  color: #776c6c;
}
.avatar {
  cursor: pointer;
  margin-left: 10px;
}
.title {
  margin-left: 10px;
  margin-bottom: 5px;
}
.btn {
  margin-left: 10px;
}
.btn button {
  padding: 3px;
  background: none;
  border: 1px solid black;
  margin-bottom: 5px;
}
